<p style="color: green"><%= notice %></p>

<%= render @admin_lesson %>

<div>
  <%= link_to "Edit this lesson", edit_admin_lesson_path(@admin_lesson) %> |
  <%= link_to "Back to lessons", admin_lessons_path %>

  <%= button_to "Destroy this lesson", @admin_lesson, method: :delete %>
</div>
