<div class="container mx-auto px-4 py-8 max-w-4xl">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

  <div class="bg-white shadow-lg rounded-lg overflow-hidden">
    <% if @post.lessons.any? && @post.lessons.first.video.present? %>
      <div class="aspect-w-16 aspect-h-9">
        <%= video_tag @post.lessons.first.video, controls: true, class: "w-full h-full object-cover" %>
      </div>
    <% end %>

    <div class="p-6">
      <div class="flex flex-wrap gap-2 mb-6">
        <% @post.categories.each do |category| %>
          <span class="bg-red-600 text-white-100 px-4 py-2 text-sm font-semibold text-white bg-gradient-to-r from-purple-600 to-indigo-600 rounded-full shadow-md hover:shadow-lg transition-shadow duration-300 ease-in-out">
            <%= category.name %>
          </span>
        <% end %>
      </div>

      <h1 class="text-3xl font-bold text-gray-900 mb-3"><%= @post.title %></h1>
      
      <p class="text-gray-600 mb-6 text-lg"><%= @post.description %></p>
      
      <div class="flex items-center text-sm text-gray-500 bg-gray-100 rounded-full px-4 py-2 inline-block">
        <svg class="w-5 h-5 mr-2 text-indigo-600" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path d="M7 3a1 1 0 000 2h6a1 1 0 100-2H7zM4 7a1 1 0 011-1h10a1 1 0 110 2H5a1 1 0 01-1-1zM2 11a2 2 0 012-2h12a2 2 0 012 2v4a2 2 0 01-2 2H4a2 2 0 01-2-2v-4z"></path>
        </svg>
        <%= pluralize(@post.lessons.count, "content") %>
      </div>
    </div>
  </div>

  <div class="mt-8">
    <%= render "sidebar" %>
  </div>
</div>

